@media(max-width: 1400px) {
    .boardTasksDiv {
        display: flex;
        flex-direction: column;
        padding: 0 16px 0 16px;
        max-width: 100%;
    }


    .boardTaskColumn {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: scroll;
        width: auto;
        margin-right: 0;
    }


    .taskContainerBoard {
        margin-right: 16px;
    }


    .boardRubrikHead {
        width: 100%;
    }


    .contentMainPage {
        overflow-y: scroll;
        flex-direction: column;
        padding-left: 0;
        width: 100%;
        padding-top: 128px;
        padding-bottom: 80px;
        background-color: #F6F7F8;
    }


    .emptyTaskContainerBoard {
        width: 100%;
    }


    .boardHeadDiv {
        height: auto;
        max-width: 100%;
    }


    .headLine_searchBar {
        height: auto;
    }


    .headLine_searchBar {
        margin-left: 16px;
    }


    .addTaskBoardBtn {
        display: none;
        width: 0;
    }


    .headLine_searchBar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


    .searchContainer {
        width: 100%;
        margin-right: 32px;
    }


    .searchContainerAndAddTaskBtn {
        width: 100%;
        margin-bottom: 24px;
    }


    .headLineText {
        font-size: 47px;
        margin-bottom: 40px;
    }


    .addTaskBoardBtnMobile {
        display: block;
    }


    .boardHeadlineMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .boardAddTaskContainer {
        margin-left: 10px;
        margin-right: 10px;
    }


    .boardEditTaskContainer {
        max-height: 640px;
    }


    .addTaskBtnMobile {
        display: block;
    }


    .addTaskBtnDesk {
        display: none;
    }


    .openTaskType,
    .font-size20 {
        font-size: 16px;
    }


    .openTaskHeadline {
        font-size: 36px;
        padding-bottom: 25px !important;
    }


    .addTaskHeadline {
        padding-top: 0px !important;
    }


    .boardTaskEditContainerCloseButton {
        height: 80px;
    }

    .moveArrow {
        display: flex;
        margin: 2px 2px 2px 2px;
    }
}


@media (max-width: 1160px) {
    .task-input-container {
        padding-top: 0;
    }


    .boardAddTaskContainer {
        margin-left: 10px;
        margin-right: 10px;
        overflow: hidden;
    }


    .addTaskHeadlineDiv {
        display: none
    }

    .addTaskInBoardMobile {
        position: relative;
        margin-bottom: 8px;
    }

    .inputs_buttons_container {
        gap: 0;
    }

    .note_text_hidden {
        padding-bottom: 0;
    }
}


@media(max-width: 500px) {
    .boardEditTaskContainer {
        width: 93%;
        margin: 0 10px 0 10px;
        padding: 40px 16px;
    }


    .boardAddTaskContainer {
        overflow: scroll;
    }


    .task-form {
        padding-top: 0px !important;
    }


    .openTaskHeadline {
        font-size: 30px;
    }


    .dropdown-option {
        max-width: 396px;
        width: 100%;
    }


    .priority-buttons {
        gap: 10px;
    }


    .futter-section,
    .head-section {
        padding-right: 16px;
    }
}


@media(max-width: 350px) {
    .priority-buttons button {
        padding: 0;
        font-size: 14px;
    }
}