<!-- TOP BAR -->
<div class="topBar">
    <div class="headerText">Kanban Project Management Tool</div>

        <img class="d-none" src="./assets/img/join.svg" alt=""> <!-- img for mobile screen only -->

    <div id="header" class="topBarIcons d-none">
        <div onclick="showHelp()">
            <img id="questionIcon" class="questionIcon cursor" src="./assets/img/helpIcon.svg">
        </div>

        <div onclick="showDropDownBox()" class="userIcon cursor"><a id="userIconValueHead" style="color:#29ABE2">G</a></div>
        <div onclick="closeDropDownBox()" class="drop_down_container d-none" id="drop_down_container"></div>   
    </div>
</div>


<!-- SIDEBAR -->
<div class="sideBar">

    <div class="img_section_div">
        <img onclick="navigateToPage('summary.html')" class="sideBarImg cursor" src="./assets/img/joinLogo.svg">

        <div class="sideBarSectionList">
            <div onclick="navigateToPage('summary.html')" id="summeryPage" class="sideBarTask"> 
                <img src="./assets/img/summery.svg">
                <div class="sideBarClickText">Summary</div>
            </div>

            <div onclick="navigateToPage('addtask.html')" id="addTaskPage" class="sideBarTask">
                <img src="./assets/img/addTask.svg">
                <div class="sideBarClickText">Add Task</div>
            </div>

            <div onclick="navigateToPage('board.html')" id="boardPage" class="sideBarTask">
                <img src="./assets/img/board.svg">
                <div class="sideBarClickText">Board</div>
            </div>

            <div onclick="navigateToPage('contacts.html')" id="contactPage" class="sideBarTask">
                <img src="./assets/img/contacts.svg">
                <div class="sideBarClickText">Contacts</div>
            </div>
        </div>
    </div>

    <div class="sideBarLinksDiv">
        <a href="./privatePolicy.html" class="cursor sideBarClickText sideBarLinks" id="policy_link">Privacy Policy</a>
        <a href="./legalNotice.html" class="cursor sideBarClickText sideBarLinks" id="legal_link">Legal notice</a>
    </div>
</div>