<!-- SIDEBAR MOBILE  - usually hidden -->

<nav class="navBarMobile d-none">

    <div onclick="navigateToPage('summary.html')" id="summeryPage" class="navButton cursor">
        <img src="./assets/img/summery.svg">
        <div class="sideBarClickText">Summary</div>
    </div>

    <div onclick="navigateToPage('addtask.html')" id="addTaskPage" class="navButton cursor">
        <img src="./assets/img/addTask.svg">
        <div class="sideBarClickText">Add Task</div>
    </div>

    <div onclick="navigateToPage('board.html')" id="boardPage" class="navButton cursor">
        <img src="./assets/img/board.svg">
        <div class="sideBarClickText">Board</div>
    </div>

    <div onclick="navigateToPage('contacts.html')" id="contactPage" class="navButton cursor">
        <img src="./assets/img/contacts.svg">
        <div class="sideBarClickText">Contacts</div>
    </div>

</nav>

  